h3, label, p {
  color: white;
}
td, th {
  border: 1px solid #6e7d93;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #6e7d93;
}
table, h3, h2, td {
  color: white;
}


#logTable {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
}
