body {
    /* Setting the background image for every screen. */
    background-image: url("wallpaper.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}