<button class="btn btn-info btn-lg" (click)="createAccount()" id='createAccountBtn'>Create Account</button>
<div id="createAccountModal" class="modal">
  <div class="modal-content">
    <form #addAccountForm="ngForm">
      
      <!-- Modal for account creation -->
      <div class="form-group">
        <label for="accountName">Account Name</label>
        <input type="text" class="form-control" id="accountName" placeholder="Give Account Name" required [(ngModel)]="CoA.accountName"
          name="accountName" #accountName="ngModel">
      </div>
      <div class="form-group">
        <label for="accountNumber">Account Number</label>
        <input type="text" class="form-control" id="accountNumber" placeholder="Give Account Number" required
          [(ngModel)]="CoA.accountNumber" name="accountNumber" #accountNumber="ngModel">
        <div [hidden]="accountNumber.valid || accountNumber.pristine" class="alert alert-danger">
          Account Number is Required
        </div>
      </div>

      <div class="form-group">
        <label for="accountType">Account Type</label>
        <select [(ngModel)]="CoA.accountType" name="accountType" #accountType="ngModel">
          <option>Assets</option>
          <option>Revenue</option>
          <option>Expenses</option>
          <option>Liability</option>
          <option>Equity</option>
        </select>
      </div>

      <div class="form-group">
        <label for="accountSubType">Account Subtype</label>
        <select [(ngModel)]="CoA.accountSubType" name="accountSubType" #accountSubType="ngModel">
          <option>Subtype 1</option>
          <option>Subtype 2</option>
        </select>
      </div>

      <div class="form-group">
        <label for="reportType">Report Type</label>
        <select [(ngModel)]="CoA.reportType" name="reportType" #reportType="ngModel">
          <option>Subtype 1</option>
          <option>Subtype 2</option>
        </select>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="originalBalance" placeholder="Give Account Balance" required
          [(ngModel)]="CoA.originalBalance" name="originalBalance" #originalBalance="ngModel">
      </div>

      <!-- <div class="form-group">
        <input type="text" class="form-control" id="active" placeholder="Active or Inactive" required [(ngModel)]="CoA.active"
          name="active" #active="ngModel">
      </div> -->
      <div class="form-group">
      <label class="switch">
          <input type="checkbox"  class="form-control" id="active" [(ngModel)]="editCoA.active" name="active" #active="ngModel">
          <span class="slider round"></span>
          </label>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="comment" placeholder="Account Comments" required [(ngModel)]="CoA.comment"
          name="comment" #comment="ngModel">
      </div>

    </form>

    <button class="btn btn-primary" (click)="submit()" id="submitBtn">Submit</button>
    <button class="btn btn-primary" (click)="close()" id="closeModalBtn">Cancel</button>
  </div>
</div>

<!-- Modal for account update -->
<div id="editAccountModal" class="modal">
  <div class="modal-content">
    <form #addAccountForm="ngForm">
      <div class="form-group">
        <label for="accountName">Current Account Name:</label>
        <input type="text" class="form-control" id="accountName" placeholder="Give Account Name" required [(ngModel)]="editCoA.accountName"
          name="accountName" #accountName="ngModel">
      </div>
      <div class="form-group">
        <label for="accountNumber">Account Number</label>
        <input type="text" class="form-control" id="accountNumber" placeholder="Give Account Number" required
          [(ngModel)]="editCoA.accountNumber" name="accountNumber" #accountNumber="ngModel">
        <div [hidden]="accountNumber.valid || accountNumber.pristine" class="alert alert-danger">
          Account Number is Required
        </div>
      </div>

      <div class="form-group">
        <label for="accountType">Account Type</label>
        <select [(ngModel)]="editCoA.accountType" name="accountType" #accountType="ngModel">
          <option>Assets</option>
          <option>Revenue</option>
          <option>Expenses</option>
          <option>Liability</option>
          <option>Equity</option>
        </select>
      </div>

      <div class="form-group">
        <label for="accountSubType">Account Subtype</label>
        <select [(ngModel)]="editCoA.accountSubType" name="accountSubType" #accountSubType="ngModel">
          <option>Subtype 1</option>
          <option>Subtype 2</option>
        </select>
      </div>

      <div class="form-group">
        <label for="reportType">Report Type</label>
        <select [(ngModel)]="editCoA.reportType" name="reportType" #reportType="ngModel">
          <option>Subtype 1</option>
          <option>Subtype 2</option>
        </select>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="originalBalance" placeholder="Give Account Balance" required
          [(ngModel)]="editCoA.originalBalance" name="originalBalance" #originalBalance="ngModel">
      </div>

      <div class="form-group">
        <!-- <input type="text" class="form-control" id="active" placeholder="Active or Inactive" required [(ngModel)]="editCoA.active"
          name="active" #active="ngModel"> -->
          <label class="switch">
          <input type="checkbox" checked class="form-control" id="active" [(ngModel)]="editCoA.active" name="active" #active="ngModel">
          <span class="slider round"></span>
          </label>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="comment" placeholder="Account Comments" required [(ngModel)]="editCoA.comment"
          name="comment" #comment="ngModel">
      </div>
    </form>
    <button class="btn btn-primary" (click)="submitEdit()" id="submitEditBtn">Submit</button>
    <button class="btn btn-primary" (click)="close()" id="closeModalBtn">Cancel</button>
  </div>
</div>




<div class="form-group">
  <table>
    <tr>
      <th>Account Number</th>
      <th>Account Name</th>
      <th>Account Type</th>
      <th>Account Subtype</th>
      <th>Normal Side</th>
      <th>Report Type</th>
      <th>Original Balance</th>
      <th>Current Balance</th>
      <th>Account Description</th>
      <th>Active</th>
    </tr>
    <tr *ngFor="let account of accounts">
      <td>{{ account.accountNumber }}</td>
      <td>{{ account.accountName }}</td>
      <td>{{ account.accountType }}</td>
      <td>{{ account.accountSubType }}</td>
      <td>{{ account.normalSide }}</td>
      <td>{{ account.reportType }}</td>
      <td>{{ account.originalBalance }}</td>
      <td>{{ account.currentBalance }}</td>
      <td>{{ account.comment }}</td>
      <td>{{ account.active }}</td>
      <button class="btn btn-primary" (click)="getAccount(account.caId)">{{ account.caId }}</button>
    </tr>
  </table>
</div>