  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
<div class="mat-elevation-z8 Journal Entry">
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
  
    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{date.id}}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let row">{{row.type}}</td>
    </ng-container>

     <!-- Creator Column -->
     <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Creator</th>
        <td mat-cell *matCellDef="let row">{{row.creator}}</td>
      </ng-container>

      <!-- Accounts Column -->
     <ng-container matColumnDef="accounts">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Accounts</th>
        <td mat-cell *matCellDef="let row">{{row.accounts}}</td>
      </ng-container>

      <!-- Debit Column -->
     <ng-container matColumnDef="debit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Debit</th>
        <td mat-cell *matCellDef="let row">{{row.debit}}</td>
      </ng-container>

      <!-- Credit Column -->
     <ng-container matColumnDef="credit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Credit</th>
        <td mat-cell *matCellDef="let row">{{row.credit}}</td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>