html {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

.container{
    width: 300px;
    height: 200px;
    text-align: center;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 275px;
}



input[type="text"], input[type="password"], input[type="confirm"]{
    height: 35px;
    width: 275px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 20px;
}


.btn-login{
    padding: 15px 25px;
    color: #fff;
    background-color: gray;
    border: none;
    border-radius: 4px;
    border-bottom: 4px solid;
}

.btn-createuser{
    padding: 15px 25px;
    color: #fff;
    background-color: gray;
    border: none;
    border-radius: 4px;
    border-bottom: 4px solid;
}


