<h3>Welcome</h3>
<form #adminForm="ngForm">

  <div class="col col-sm-12">
    <h2> {{indicator}} </h2>
  </div>

  <div class="form-group">
      <button class="btn btn-primary" (click)="onLog()" id="logBtn">View Log</button>
      <button class="btn btn-primary" (click)="viewUsers()">View Users</button>
      <button class="btn btn-primary" (click)="createUser()" >Add User</button>
      <button class="btn btn-primary" (click)="logOut()" >Log out</button>
      <div id="logTable" hidden>
      <table>
          <tr>
              <th>Username</th>
              <th>Action Type</th>
              <th></th>
              <th>Time</th>
          <tr *ngFor="let log of logs">
              <td>{{ log.userName }}</td>
              <td>{{ log.actionType }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{ log.createdAt }}</td>
          </tr>
      </table>
      </div>
      
      <div id="usersTable" hidden>
        <table>
          <tr>
            <th>User Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>User Role</th>
            <th>Active</th>
          </tr>
          <tr *ngFor="let user of users">
            <td>{{ user.userId }}</td>
            <td>{{ user.firstName }}</td> 
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.userRole }}</td>
            <td>{{ user.active }}</td>
            <button class="btn btn-primary" (click)="getUser(user.userId)">{{ user.userId }}</button>
          </tr>
        </table>
      </div>

      <div id="editUser" hidden>
        <table>
          <tr *ngFor="let edit of editUser">
            <td>{{ edit.userName }}</td>
          </tr>
        </table>
      </div>
</div>

</form>
