
<form #adminForm="ngForm">
  <div>
  <div class="sidenav">
    <div class = "container-fluid">
      <h2> {{indicator}} </h2>
      <button class="btn btn-link" (click)="viewUserList()" id="button1" *ngIf="access == 1">User list</button>
      <button class="btn btn-link" (click)="viewLog()" id="button2" *ngIf="access == 1">User log</button>
      <button class="btn btn-link" (click)="viewCoA()" id="button3" >Chart of accounts</button>
      <button class="btn btn-link" (click)="logOut()" id="button4" >Journal</button>
      <button class="btn btn-link" (click)="logOut()" id="button5" >Log out</button>
    </div>
  </div>
    <div class="right">
      <ng-container [ngSwitch]="currentpage">
      <app-chart-of-accounts *ngSwitchCase="1"></app-chart-of-accounts>
        <app-add-user *ngSwitchCase="2"></app-add-user>
        <app-user-log *ngSwitchCase="3"></app-user-log>
        </ng-container>
    </div>


  </div>

</form>
